/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Custom styles
   ========================================================================== */

html {
 height: 100%;
}


body {
 height: 100%;
 font-family: 'Merriweather', serif;
 line-height: 1.75;
 background-color: #1c2145;
 font-weight: 400;
 color: #fff;
}


a {
  color: #fff;
  text-decoration: none;
}


.mainBox {
  position: relative;
  top: 50%;
  width: 90%;
  max-width: 580px;
  margin: 0 auto;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.link {
  line-height: 1.25;
  display: inline-block;
  position: relative;
  transition: transform 300ms;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid #e72875;
  transition: transform 300ms;
}


.link:hover {
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}


.link:hover::after {
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
}


.btn {
  text-align: center;
  display: inline-block;
  padding: 12px 30px;
  background-color: #e72875;
  border-radius: 99em;
  font-family: 'Lato', Verdana, sans-serif;
  letter-spacing: .05em;
  box-shadow: 0 4px 0px #111539;
  transition: background-color 300ms;
  margin-top: 20px;
}


.btn-icon {
  display: inline-block;
  transition: transform 260ms cubic-bezier(0.85, 0, 0.9, 0.85);
  position: relative;
  top: 1px;
}


.btn:hover {
  background-color: #cc1861;
}


.btn:hover .btn-icon {
  -webkit-transform: translateX(4px);
  -ms-transform: translateX(4px);
  transform: translateX(4px);
}
