// *************************************
//
//   Container
//
// *************************************

.container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50vh;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}




// -------------------------------------
//   Descendents
// -------------------------------------

.container-footer {
  margin-top: 60px;
}
