// *************************************
//
//   Variables
//
// *************************************

$grid-font-size: 1rem;
$grid-gutter-size: 20px;

$type-primary: 'Merriweather', serif;
$type-secondary: 'Lato', Verdana, sans-serif;

$color-primary: #e72875;
$color-secondary: #1c2145;
