// *************************************
//
//   Grid
//   Level: Layout
//
//   Reference:
//   https://github.com/suitcss/components-grid
//
// *************************************

.grid {
  display: block;
  padding: 0;
  font-size: 0;
  text-align: left;
  margin: 0 -.5 * $grid-gutter-size;
}




// -------------------------------------
//   Descendent
// -------------------------------------

.grid-item {
  display: inline-block;
  font-size: $grid-font-size;
  margin: 0;
  padding: 0 .5 * $grid-gutter-size;
  text-align: left;
  vertical-align: top;
  width: 100%;
}




// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Alignment ----- //

// Horizontal
.grid--alignCenter {
  text-align: center;
}

.grid--alignRight {
  text-align: right;
}


// Vertical
.grid--alignMiddle {
  // Children
  > .grid-item {
    vertical-align: middle;
  }
}

.grid--alignBottom {
  // Children
  > .grid-item {
    vertical-align: bottom;
  }
}



// ----- Gutter ----- //
.grid--noGutter {
  margin-left: 0;
  margin-right: 0;

  > .grid-item {
    padding-left: 0;
    padding-right: 0;
  }
}

.grid--wideGutter {
  margin-left: -1 * $grid-gutter-size;
  margin-right: -1 * $grid-gutter-size;

  > .grid-item {
    padding-left: 1 * $grid-gutter-size;
    padding-right: 1 * $grid-gutter-size;
  }
}

.grid--narrowGutter {
  margin-left: -.25 * $grid-gutter-size;
  margin-right: -.25 * $grid-gutter-size;

  > .grid-item {
    padding-left: .25 * $grid-gutter-size;
    padding-right: .25 * $grid-gutter-size;
  }
}
